<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="fragments/head_fragment::headFragment(#{section.postponed})"></head>

<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment::headerFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{section.postponed}">Отложенное
            </h1>
            <h3 th:if="${isPostponedEmpty}">Отложенных нет 😭</h3>
            <form class="form Cart Cart_postponed" action="#" method="post">
                <div class="Cart-product" th:each="book : ${postponedBooks}">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"
                                                                   th:href="@{'/books/' + ${book.slug}}"><img
                                class="Cart-img"
                                src="/assets/img/content/main/card.jpg"
                                alt="card.jpg"
                                th:src="${book.image}"/></a>
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_info">
                                <div class="Cart-author" th:each="author : ${book.authors}">
                                    <a href="#"
                                       th:href="@{'/authors/'+${author.slug}}"
                                       th:text="${author}"
                                    >Борис Васильевич Бедный</a>
                                </div>
                                <div class="Cart-title"><a href="#"
                                                           th:href="@{'/books/' + ${book.slug}}"
                                                           th:text="${book.title}">Жизнь</a>
                                </div>
                                <div class="Cart-rating"><span class="Rating"><span class="Rating-stars"><span
                                        class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span></span></span>
                                </div>
                                <div class="Cart-buttons">
                                    <div class="Cart-btn">
                                        <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                                                th:attr="data-bookid = ${book.slug}"
                                                data-bookid="[1122]"><span class="btn-icon">
                                            <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span><span
                                                class="btn-content" th:text="#{common.buy}">Купить</span>
                                        </button>
                                    </div>
                                    <div class="Cart-btn">
                                        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                                                data-bookid="[1122]"
                                                th:attr="data-bookid = ${'postpone/remove/' + book.slug}"><span
                                                class="btn-icon"><img src="/assets/img/icons/trash.svg"
                                                                      alt="trash.svg"/></span><span
                                                class="btn-content" th:text="#{common.remove}">Удалить</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-priceTitle" th:text="#{common.price}">Цена:
                                </div>
                                <div class="Cart-price" th:text="${book.discountPrice()}">254 р.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                    </div>
                    <div class="Cart-block">
                        <button class="btn btn_success btn_md Cart-buyAll" data-sendstatus="CART"
                                data-bookid="[1111, 1122, 1133]" th:text="#{common.buyAll}">Купить все
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment::footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>